<html>
  {{template "header.tmpl.html"}}
<body>
  {{template "nav.tmpl.html"}}

  <img src="/static/left.svg" id="left">
  <img src="/static/right.svg" id="right">

    <div class="container">
        <h1>Speech to Text</h1>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." </p>
    </div>

    <div class="container">
      <div class="upload-btn-wrapper">
        <button class="btn">Upload a file</button>
        <input type="file" name="myfile" />
      </div>
    </div>
      

</body>
</html>
